{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="/web/admin/css/bootstrap.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    <script src="/web/admin/js/jquery.min.js"></script>
    <script src="/web/admin/js/bootstrap.min.js"></script>
{% endblock %}
